<!DOCTYPE html>
<html>
<head>

    <title>Search Box Example 1</title>
    <meta name="Shakespeare Search" content="NOINDEX, NOFOLLOW"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel = "stylesheet">
    <!-- CSS styles for standard searchTerm box -->

</head>
<body>
<!-- HTML for SEARCH BAR -->

<div class="container">
    <div class="jumbotron">
        <div class = "row">
            <div class = "col-lg-12">
                <form role="form">
                    <input type="text" class="form-control searchInput" id="searchText" placeholder="Search">
                </form>
            </div>
        </div>
    </div>

</div>



<div id="resultlist"></div>




<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/prettyprint.js"></script>
<script src="/javascripts/search.js"></script>



</body>
</html>